.top-bg{
    background-color:  #F0FFF0;
}
#high-light{
    color: #FD511A;
}
span{
    color: rgb(130, 238, 23);
}
.button-style{
    border-radius: 33px;
    background-color: green;
    color: ivory;
    text-decoration: none;
    padding: 17px;
   
}
.marjin-top{
    margin-top: 40px;
}
.sing-in{
    background-color: #21B573;
    border-radius: 5px;
}
.b-g{
    background-image: url("pic.1.png");
    background-color: #F0FFF0;
    background-repeat: no-repeat;
   background-position: center;
    padding: 70px;
}
.midel-sight{
    margin-top: 50px;
}
.b-g2{
    background-image: url("Student.png");
    background-repeat: no-repeat;
    background-position: center;
}
.midel-2{
    margin-top: 50px;
}
.mi-del{
text-align: center;
margin-bottom: 20px;
}
.course-button{
    text-decoration: none;
    background-color: #e64a4a;
    border-radius: 8px;
    padding: 10px;
    color: rgb(239, 241, 243);
    
}
.text-end{
    text-align: end;
}
.card-footer{
    background-color: white;
    border: none;
}
.card{
    border: none;
    
}
.last-sight{
    background-color: black;
    margin-top: 50px;
    color: cornsilk;
}
.pa-ding{
    padding: 40px;
}
#finis-ed{
    text-align: center;
}
.hlw{

    vertical-align: bottom;
}

   